.footer
{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #111;
    color: white;
    text-align: center;
}

body
{
    font-family: sans-serif;
    background-image: url('../assets/941898.jpg');
    background-size: cover;
    background-color: black;
}

body, html
{
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-box
{
    width: 800px;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
}