.footer
{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #111;
    color: white;
    text-align: center;
}

body
{
    font-family: sans-serif;
    background-image: url('../assets/941898.jpg');
    background-size: cover;
    background-color: black;
}

body, html
{
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .centered-box
{
    width: 800px;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
} */

.centered-box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.weather-container {
    display: flex;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}

.icon-box {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
}

.details-box {
    flex: 2;
}

.details-box h2 {
    margin: 0;
    font-size: 24px;
}

.details-box p {
    margin: 5px 0;
}

.no-style {
    all: unset;
    cursor: pointer;
    color: red;
}